<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<form action="#" th:action="@{/manufact/manufact-create}" th:object="${manufactory}" method = "post">

    <table>
        <tr>
            <td><label for="nameManufact">Manufactory name</label></td>
            <td> <input type = "text" th:field="*{nameManufact}" id="nameManufact" placeholder="Name"></td>
            <td th:errors="*{nameManufact}" th:if="${#fields.hasErrors('nameManufact')}"></td>
        </tr>


        <tr>
            <td><label for="addressManufact">Address</label></td>
            <td> <input type = "text" th:field="*{addressManufact}" id="addressManufact"  placeholder="Address"></td>
            <td th:errors="*{addressManufact}" th:if="${#fields.hasErrors('addressManufact')}"></td>
        </tr>

        <tr>
            <td><label for="pay">Pay</label></td>
            <td> <input type = "text" th:field="*{pay}" id="pay" placeholder="Pay"></td>
            <td th:errors="*{pay}" th:if="${#fields.hasErrors('pay')}"></td>

        </tr>

    </table>

    <input type="submit" value="Create a manufactory"/>




</form>
</body>
</html>